# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?

# IDE / Éditeurs
.vscode/
.idea/

# PHP
vendor/
composer.lock
*.cache
*.log

# Environnement
.env
.env.local
.env.*.local

# Thumbs / uploads temporaires
Thumbs.db
*.tmp
*.bak